
@media screen and (max-width: 576px) {
  :root {
    --font-size: 12px;
  }
  nav {
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-top: 30px;
    height: auto;
    padding-bottom: 30px;
  }
  .nav-ul {
    flex-direction: column;
  }
  .banner-content {
    flex-direction: column;
    gap: 50px;
  }
  .banner-img {
    width: 100%;
  }
  .are-gamer-content {
    flex-direction: column;
  }
  .are-gamer-img {
    width: 100%;
  }
  .are-gamer-text {
    width: 100%;
  }
  .are-gamer-title,
  .are-gamer-description,
  .are-gamer-btn-container,
  .are-gamer-qoutename,
  .are-gamer-qoute {
    text-align: center;
  }
  .game-container{
    grid-template-columns: repeat(1,250px);
  }
  .game-description{
text-align: center;
  }

  .overlay-content,.overlay-content2{
    flex-direction: column-reverse;
    gap:10px;
    margin-bottom: -80px;
  }
  .overlay-text, .overlay-text2{
    width: 100%;
    text-align: center;
  }
  .overlay-img,.overlay-img2{
    width: 100%;
    padding: 40px;
    
  }
  .overlay-img > img , .overlay-img2 > img{
    width: 100%;

    left: 60px;

  }
  .over-img2 , .over-img{
    width: 40%;
    bottom:-20px;
    left: -20px;
  }
  .over-img > img , .over-img2 > img{
    width: 100%;
  }
  .careers-content{
    flex-direction: column-reverse;
  }
  .careers-text{
     width: auto;
  }

  .cartoon-btn-content{
    width:auto;
    padding: 15px;
  }
  .cartoon-btn-container{
    grid-template-columns: repeat(3,calc(var(--font-size) * 9.9));
  }
  .cartoon-text{
    font-size:calc(var(--font-size) * 0.6);
  }
  .cartoon-btn img{
    width:calc(var(--font-size) * 2.5);
  }
  .cartoon-btn{
    gap:calc(var(--font-size) * 0.5); 
    padding:calc(var(--font-size) * 0.5);
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  :root {
    --font-size: 14px;
  }
  nav {
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-top: 30px;
    height: auto;
    padding-bottom: 30px;
  }
  .banner-content {
    flex-direction: column;
    gap: 50px;
  }
  .banner-img {
    width: 100%;
  }
  .are-gamer-content {
    flex-direction: column;
  }
  .are-gamer-img {
    width: 100%;
  }
  .are-gamer-text {
    width: 100%;
  }
  .are-gamer-title,
  .are-gamer-description,
  .are-gamer-btn-container,
  .are-gamer-qoutename,
  .are-gamer-qoute {
    text-align: center;
  }
  .game-container{
    grid-template-columns: repeat(2,250px);
  }
  .overlay-content,.overlay-content2{
    flex-direction: column-reverse;
    gap:10px;
    margin-bottom: -80px;
  }
  .overlay-text, .overlay-text2{
    width: 100%;
    text-align: center;
  }
  .overlay-img,.overlay-img2{
    width: 100%;
    padding: 40px;
    
  }
  .overlay-img > img , .overlay-img2 > img{
    width: 100%;

    left: 60px;

  }
  .over-img2 , .over-img{
    width: 40%;
    bottom:-20px;
    left: -20px;
  }
  .over-img > img , .over-img2 > img{
    width: 100%;
  }
  .careers-content{
    flex-direction: column-reverse;
    
  }
  .cartoon-btn-content{
    width:auto;
    padding: 15px;

  }
  .cartoon-btn-container{
    grid-template-columns: repeat(3,calc(var(--font-size) * 10));
  }


}
@media screen and (min-width: 769px) and (max-width: 1000px) {
  :root {
    --font-size: 15px;
  }
  nav {
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-top: 30px;
    height: auto;
    padding-bottom: 30px;
  }
  .banner-content {
    flex-direction: column;
    gap: 50px;
  }
  .banner-img {
    width: 100%;
  }
  .are-gamer-content {
    flex-direction: column;
  }
  .are-gamer-img {
    width: 100%;
  }
  .are-gamer-text {
    width: 100%;
  }
  .are-gamer-title,
  .are-gamer-description,
  .are-gamer-btn-container,
  .are-gamer-qoutename,
  .are-gamer-qoute {
    text-align: center;
  }
  .game-container{
    grid-template-columns: repeat(2,250px);
  }
  .overlay-content,.overlay-content2{
    flex-direction: column-reverse;
    gap:10px;
    margin-bottom: -80px;
  }
  .overlay-text, .overlay-text2{
    width: 100%;
    text-align: center;
  }
  .overlay-img,.overlay-img2{
    width: 100%;
    padding: 40px;
    
  }
  .overlay-img > img , .overlay-img2 > img{
    width: 100%;

    left: 60px;

  }
  .over-img2 , .over-img{
    width: 40%;
    bottom:-20px;
    left: -20px;
  }
  .over-img > img , .over-img2 > img{
    width: 100%;
  }
  .careers-content{
    flex-direction: column-reverse;
  }
  .cartoon-btn-content{
    width:auto;
    padding: 15px;
  }
  .cartoon-btn-container{
    grid-template-columns: repeat(4,calc(var(--font-size) * 10));
  }

}
@media screen and (max-width:450px) {
  .cartoon-btn-container{
    grid-template-columns: repeat(2,calc(var(--font-size) * 11));
  } 

  .cartoon-text{
    font-size:calc(var(--font-size) * 0.8);
  }
  .cartoon-btn img{
    width:calc(var(--font-size) * 2.9);
  }
  .cartoon-btn{
    gap:calc(var(--font-size) * 0.8); 
    padding:calc(var(--font-size) * 0.8);
  }
}