@media screen and (max-width:576px) {
    :root{
        --font-size:12px
    }
    nav{
        flex-direction: column;
        gap: 50px;
        width: 100%;
        padding-top: 30px;
        height: auto;
        padding-bottom: 30px;
    }
    .nav-ul{
        flex-direction: column;
    }
}
@media screen and (min-width:577px) and (max-width:768px) {
    :root{
        --font-size:14px
    }
    nav{
        flex-direction: column;
        gap: 50px;
        width: 100%;
        padding-top: 30px;
        height: auto;
        padding-bottom: 30px;
    }
}
@media screen and (min-width:769px) and (max-width:990px) {
    nav{
        flex-direction: column;
        gap: 50px;
        width: 100%;
        padding-top: 30px;
        height: auto;
        padding-bottom: 30px;
    }
}