* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root{
    --font-size:16px
}

/* header design */
.nav{
  background-color:#fff;
}
nav{
  height: 120px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  align-items: center;

}
.logo{
  display: flex;
  align-items: center;
  gap: 15px;

}
.logo img{
  width: calc(var(--font-size) * 5.37);
height:  calc(var(--font-size) * 2.5);

}
.logo h2{
  text-align: center;
font-size: calc(var(--font-size) * 2.8);
font-weight: 700;
}
.nav-ul{
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}
.nav-ul li{
  color: #3C354F;
font-size: calc(var(--font-size) * 1.2);
font-weight: 500;

}
.nav-ul li:hover{
   cursor: pointer;

}
.nav-ul li button{
  padding: calc(var(--font-size) * 1.06) calc(var(--font-size) * 1.5);
  align-items: center;
  display: flex;
  gap: 15px;
  color: #3C354F;
text-align: center;
font-size: calc(var(--font-size) * 1.12);
font-weight: 500;
}
/* nav finished */

/* banner-started */

.banner{
  background-color: rgb(252,251,254);
}
.banner-content{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.banner-1st-title{
  color: #0B0223;
font-size:calc(var(--font-size) * 3 );
font-weight: 600;
text-transform: uppercase;
}
.banner-2nd-title{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size:calc(var(--font-size) * 5.93);
font-weight: 800;
text-transform: uppercase;
margin-bottom: 20px;
}
.banner-ul{
  list-style: none;
  display: flex;
  flex-direction:column;
  gap: 12px;
  margin-bottom: 20px;
}
.banner-ul li{
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner-btn{
  display: flex;
  gap: 10px;
}
.banner-btn-1,.are-gamer-btn{
  color: #FFF;
font-size: calc(var(--font-size) * 1.125);
font-weight: 600;
text-transform: uppercase;
padding: calc(var(--font-size) * 1.31) calc(var(--font-size) * 2.5);
border-radius: 48px;
background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.banner-btn-2{
  color: #FFF;
font-size: calc(var(--font-size) * 1.125);
font-weight: 600;
text-transform: uppercase;
padding: calc(var(--font-size) * 1.31) calc(var(--font-size) * 2.5);
border-radius: 48px;
background: #4EC5F7;
}
.banner-btn > button:hover{
  opacity: 0.9;
}
.banner-img{
  width: 450px;
}
.banner-img img{
  width: 100%;
}
/* banner-finished */

/* we are gamer started */
.we-are-gamer{
 
  background-color: rgb(252,251,254);
  
}
.are-gamer-content{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}
.are-gamer-title{
  text-align: right;
font-size:calc(var(--font-size) * 3);
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.are-gamer-description{
  color: #534C64;
text-align: right;
font-size: calc(var(--font-size) * 1.125);
font-weight: 400;
line-height: 30px;
margin-bottom: 20px;
}
.are-gamer-btn{
  color: #FFF;
font-size: calc(var(--font-size) * 1.125);
font-weight: 600;
text-transform: uppercase;
padding: calc(var(--font-size) * 1.31) calc(var(--font-size) * 2.5);
border-radius: 48px;
background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
margin-bottom: 20px;
}
.are-gamer-btn-container{
  text-align: right;
}
.are-gamer-qoutename{
  color: #534C64;
text-align: right;
font-size:calc(var(--font-size) * 1.5);
font-weight: 500;
line-height: 35px; /* 187.5% */
}
.are-gamer-qoute{
  color: #534C64;
text-align: right;
font-size:calc(var(--font-size) * 2);
font-weight: 700;
line-height: 45px;
}
.are-gamer-img{
  width: 570px;
}
.are-gamer-img img{
  width: 100%;
}
.are-gamer-text{
  width: 520px;
}