* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --font-size: 16px;
}
.color-txt{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* header design */
.nav {
  background-color: #fff;
}
nav {
  height: 120px;
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.logo img {
  width: calc(var(--font-size) * 5.37);
  height: calc(var(--font-size) * 2.5);
}
.logo h2 {
  text-align: center;
  font-size: calc(var(--font-size) * 2.8);
  font-weight: 700;
}
.nav-ul {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}
.nav-ul li {
  color: #3c354f;
  font-size: calc(var(--font-size) * 1.2);
  font-weight: 500;
}
.nav-ul li:hover {
  cursor: pointer;
}
.nav-ul li button {
  padding: calc(var(--font-size) * 1.06) calc(var(--font-size) * 1.5);
  align-items: center;
  display: flex;
  gap: 15px;
  color: #3c354f;
  text-align: center;
  font-size: calc(var(--font-size) * 1.12);
  font-weight: 500;
}
/* nav finished */

/* banner-started */

.banner {
  background-color: rgb(252, 251, 254);
}
.banner-content {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.banner-1st-title {
  color: #0b0223;
  font-size: calc(var(--font-size) * 3);
  font-weight: 600;
  text-transform: uppercase;
}
.banner-2nd-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(var(--font-size) * 5.93);
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.banner-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.banner-ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.banner-btn {
  display: flex;
  gap: 10px;
}
.banner-btn-1,
.are-gamer-btn {
  color: #fff;
  font-size: calc(var(--font-size) * 1.125);
  font-weight: 600;
  text-transform: uppercase;
  padding: calc(var(--font-size) * 1.31) calc(var(--font-size) * 2.5);
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.banner-btn-2 {
  color: #fff;
  font-size: calc(var(--font-size) * 1.125);
  font-weight: 600;
  text-transform: uppercase;
  padding: calc(var(--font-size) * 1.31) calc(var(--font-size) * 2.5);
  border-radius: 48px;
  background: #4ec5f7;
}
.banner-btn > button:hover {
  opacity: 0.9;
}
.banner-img {
  width: 450px;
}
.banner-img img {
  width: 100%;
}
/* banner-finished */

/* we are gamer started */
.we-are-gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.are-gamer-content {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.are-gamer-title {
  text-align: right;
  font-size: calc(var(--font-size) * 3);
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.are-gamer-description {
  color: #534c64;
  text-align: right;
  font-size: calc(var(--font-size) * 1.125);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.are-gamer-btn {
  color: #fff;
  font-size: calc(var(--font-size) * 1.125);
  font-weight: 600;
  text-transform: uppercase;
  padding: calc(var(--font-size) * 1.31) calc(var(--font-size) * 2.5);
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  margin-bottom: 20px;
}
.are-gamer-btn-container {
  text-align: right;
}
.are-gamer-qoutename {
  color: #534c64;
  text-align: right;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 500;
  line-height: 35px; /* 187.5% */
}
.are-gamer-qoute {
  color: #534c64;
  text-align: right;
  font-size: calc(var(--font-size) * 2);
  font-weight: 700;
  line-height: 45px;
}
.are-gamer-img {
  width: 570px;
}
.are-gamer-img img {
  width: 100%;
}
.are-gamer-text {
  width: 520px;
}
/* are gamer finished */
/* online game started */
.online-game-content{
  width:80vw;
  margin: 0 auto;
  margin-bottom: 100px;

}
.online-game-title{
   text-align: center;
   padding-top: 70px;
   padding-bottom: 20px;
   color: #0B0223;
font-size:calc(var(--font-size) * 3);
font-weight: 700;
}
.online-game-description{
  text-align: center;
  color: #534C64;
text-align: center;
font-size:calc(var(--font-size) * 1.12);
font-weight: 400;
line-height: 30px; /* 166.667% */
padding-bottom: 30px;
}
.game-container{
  display:grid;
  grid-template-columns: repeat(4,250px);
  justify-content: center;
  gap: 25px;
}
.game-card{
  width: 250px;
  position: relative;
}

.game-card > img{
  width: 100%;
  position: relative;

}
.game-card > img:hover{
  border: 5px solid  #F948B2 ;
  border-radius: 20px;
  
}
.game-description{
  color: #534C64;
font-size:calc(var(--font-size) * 0.9);
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
}

.image-overlay{
  position:absolute;
 top:35%;
 text-align: center;
 left: 30%;
 display: none;
}
.image-overlay p{
  color: #F948B2;
}
.game-card:hover .image-overlay{
 display: block;

}

.game-card:hover .game-img {
  border: 5px solid #F948B2;
  border-radius: 20px;
  filter: brightness(30%); 
}


/* online game finished */
/* overlay section started */
.overlay-section{
  margin-bottom: 190px;
}
.overlay-content{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  gap:150px;

}
.overlay-text{
  text-align: right;
  width: 350px;
}
.overlay-title{
font-size: calc(var(--font-size) * 3);
font-weight: 700;
line-height: 60px;
}
.overlay-description{
  color: #534C64;
font-size: calc(var(--font-size) * 1.125);
font-weight: 400;
line-height: 30px; 
}
.overlay-img{
  width: 550px;
  position: relative;

}
.overlay-img > img{
  width: 100%; 

}
.over-img {
  width: 40%;
  position: absolute;
  bottom: -120px;
  left: -110px;
} 



/* 2nd overlay section */
.overlay-section2{
  margin-bottom: 190px;
}
.overlay-content2{
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.overlay-text2{
  text-align: left;
  width: 350px;
}
.overlay-title2{
font-size: calc(var(--font-size) * 3);
font-weight: 700;
line-height: 60px;
}
.overlay-description2{
  color: #534C64;
font-size: calc(var(--font-size) * 1.125);
font-weight: 400;
line-height: 30px; 
}
.overlay-img2{
  width: 550px;
  position: relative;

}
.overlay-img2 > img{
  width: 100%; 

}
.over-img2 {
  width: 40%;
  position: absolute;
  bottom: -120px;
  right: 10px;
} 
/* overlay section finished */
/* careers section started */
.careers-section{
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  margin-bottom:40px;
}
.careers-text{
  color: white;
  width: 650px;
}
.careers-title{
font-size:calc(var(--font-size) * 3);
font-weight: 700;
line-height: 60px; 
margin-bottom: 20px;
}
.careers-description{
  color: #FFF;
font-size:calc(var(--font-size) * 1.125);
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-bottom: 30px;
}
.careers-ul li{
  color: #FFF;
font-size:calc(var(--font-size) * 0.9);
font-weight: 600;
line-height: 40px; 
margin-bottom: 30px;
display: block;
text-align: right;
}
.careers-ul li {
  display: flex;
  justify-content: space-between;
}
.careers-content{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  width:80vw;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}
.careers-text{
  width: 100%;
 
}
.careers-img{
  width: 100%;
  height: 100%;
  
}
.careers-img img{
  width: 100%;
  height: 100%;
}
.career-btn{
font-size:calc(var(--font-size) * 1.25);
font-weight: 600;
text-transform: uppercase;
padding:  calc(var(--font-size) * 1.25) calc(var(--font-size) * 2.3);
border-radius: 40px;
color: #FF42A5;
}
/* careers section finished */
/* cartoon btn started */
.cartoon-btn-content{
  width: 80vw;
  margin: 0 auto;

}
.cartoon-btn-container{
  display: grid;
  grid-template-columns: repeat(5,calc(var(--font-size) * 15));
  column-gap:calc(var(--font-size) * 0.9);
  row-gap: 10px;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
.cartoon-btn{
  display: flex;
  align-items: center;
  gap:calc(var(--font-size) * 0.8);
  border: 1px solid white;
  padding:calc(var(--font-size) * 0.8);
  border-radius:45px;
}
.cartoon-btn:hover{
  border: 1px solid #f948b2;
}
.cartoon-btn:hover .cartoon-text{
  color: #f948b2;
}
.cartoon-btn img{
  width:calc(var(--font-size) * 3.225);
}
.cartoon-text{
  color: #0B0223;
font-size:calc(var(--font-size) * 1);
display: flex;
justify-content: center;
align-items: center;
font-weight: 600;
}
/* cartoon btn finished */